.navbar {
  display: flex;
  background-color: black;
  justify-content: space-evenly;

  position: sticky;
  top: 0;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar img {
  padding: 0.625rem 0;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-self: start;
}

.navbar ul {
  display: flex;
  margin: 0;
}

.navbar ul a {
  text-decoration: none;
  color: white;
  font-family: Oswald;
  font-size: 0.813rem;
  padding: 0 0.938rem;
  transition: ease 200ms;
}

.navbar ul a:hover {
  color: lightgrey;
}
