.navbar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  padding: 0.625rem 0;
}

.navbar .logo img {
  width: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  color: white;
  font-family: Oswald;
  font-size: 0.813rem;
  padding: 0 0.938rem;
  transition: ease 200ms;
  display: block;
}

.navbar ul a:hover {
  color: lightgrey;
}
